<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="       androidx.camera.camera2, androidx.camera.core,       androidx.camera.view, androidx.camera.lifecycle" />

    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/qr_code"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SufferQR"
        tools:targetApi="31">
        <activity
            android:name=".OtherUser"
            android:exported="false" />
        <activity
            android:name=".QRQuickViewScrollingActivity"
            android:exported="false"
            android:label="@string/title_activity_qrquick_view_scrolling"
            android:theme="@style/Theme.SufferQR.NoActionBar" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAVEX8eYP32PYdwHygjeI3iKca-TCP0N04" />

        <activity
            android:name=".MapsActivity"
            android:exported="true"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".nearbyQrCodeList"
            android:exported="true" />
        <activity
            android:name=".RegisterPage"
            android:exported="true"/>
        <activity
            android:name=".ScanHistory"
            android:exported="false" />
        <activity
            android:name=".LeaderBoard"
            android:exported="false" />
        <activity
            android:name=".ScanCode"
            android:exported="false" />
        <activity
            android:name=".SearchPlayer"
            android:exported="false" />
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".DrawerBase"
            android:exported="false" />
        <activity
            android:name=".DashBoard"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".QRDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_qrdetail"
            android:theme="@style/Theme.SufferQR.NoActionBar" />
        <activity android:name=".EditProfile" />
        <activity
            android:name=".CommentPage"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>